{% extends "layout.html" %}
{% block title %} {{course.title}} {% endblock %}

{% block content %}
<div class="page_nav">
  <a href="{% url 'views.hello_world' %}"> Home </a>
  <a href="{% url 'courses:list' %}"> Catalog </a>
</div>
<article>
  <div class="page_heading">{{course.title}}</div>
  <div class="page_description">{{course.description}}</div>
  <hr/>
  <section class="page_list">
    {% for step in course.step_set.all %}
      <div class="item">
        <div class="title"><a href="{% url 'courses:step' step_pk=step.pk course_pk=step.course.pk %}">{{step.title}}</a></div>
        <p class="description">{{step.description}}</p>
      </div>
    {% endfor %}
  </section>
</article>
{% endblock %}
